In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("https://github.com/flaviovdf/evcomp2018/raw/master/data/nc-est2015-agesex-res.csv", sep=",")
df

,SEX,AGE,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
0,0,0,3944153,3944160,3951330,3963087,3926540,3931141,3949775,3978038
1,0,1,3978070,3978090,3957888,3966551,3977939,3942872,3949776,3968564
2,0,2,4096929,4096939,4090862,3971565,3980095,3992720,3959664,3966583
3,0,3,4119040,4119051,4111920,4102470,3983157,3992734,4007079,3974061
4,0,4,4063170,4063186,4077551,4122294,4112849,3994449,4005716,4020035
...,...,...,...,...,...,...,...,...,...,...
301,2,97,53582,53605,54118,57159,59533,61255,62779,69285
302,2,98,36641,36675,37532,40116,42857,44359,46208,47272
303,2,99,26193,26214,26074,27030,29320,31112,32517,34064
304,2,100,44202,44246,45058,47556,50661,53902,58008,61886
305,2,999,156964212,156969328,157258820,158427085,159581546,160720625,161952064,163189523

In [5]:
print("Rows: ", len(df))
print("Columns: ", len(df.loc[0, :]))

Rows:  306
Columns:  10

In [6]:
df.describe()

,SEX,AGE,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
count,306.000000,306.000000,3.060000e+02,3.060000e+02,3.060000e+02,3.060000e+02,3.060000e+02,3.060000e+02,3.060000e+02,3.060000e+02
mean,1.000000,59.303922,4.035889e+06,4.036054e+06,4.043750e+06,4.074756e+06,4.105917e+06,4.136306e+06,4.168724e+06,4.201553e+06
std,0.817834,98.060950,2.140881e+07,2.140968e+07,2.145038e+07,2.161430e+07,2.177900e+07,2.193965e+07,2.211105e+07,2.228462e+07
min,0.000000,0.000000,6.073000e+03,6.075000e+03,6.104000e+03,6.606000e+03,7.459000e+03,8.159000e+03,8.951000e+03,9.577000e+03
25%,0.000000,25.000000,9.987065e+05,9.987415e+05,1.010409e+06,1.045244e+06,1.073482e+06,1.121864e+06,1.156036e+06,1.162476e+06
50%,1.000000,50.500000,2.045286e+06,2.045342e+06,2.047912e+06,2.051284e+06,2.054609e+06,2.050533e+06,2.060284e+06,2.062285e+06
75%,2.000000,76.000000,2.304370e+06,2.304525e+06,2.304142e+06,2.321829e+06,2.335085e+06,2.349450e+06,2.387392e+06,2.415332e+06
max,2.000000,999.000000,3.087455e+08,3.087581e+08,3.093469e+08,3.117189e+08,3.141026e+08,3.164274e+08,3.189074e+08,3.214188e+08

In [7]:
df.rename(columns={'POPESTIMATE2010' : '2010'}, inplace=True)
df.rename(columns={'POPESTIMATE2014' : '2014'}, inplace=True)

In [8]:
df

,SEX,AGE,CENSUS2010POP,ESTIMATESBASE2010,2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,2014,POPESTIMATE2015
0,0,0,3944153,3944160,3951330,3963087,3926540,3931141,3949775,3978038
1,0,1,3978070,3978090,3957888,3966551,3977939,3942872,3949776,3968564
2,0,2,4096929,4096939,4090862,3971565,3980095,3992720,3959664,3966583
3,0,3,4119040,4119051,4111920,4102470,3983157,3992734,4007079,3974061
4,0,4,4063170,4063186,4077551,4122294,4112849,3994449,4005716,4020035
...,...,...,...,...,...,...,...,...,...,...
301,2,97,53582,53605,54118,57159,59533,61255,62779,69285
302,2,98,36641,36675,37532,40116,42857,44359,46208,47272
303,2,99,26193,26214,26074,27030,29320,31112,32517,34064
304,2,100,44202,44246,45058,47556,50661,53902,58008,61886
305,2,999,156964212,156969328,157258820,158427085,159581546,160720625,161952064,163189523

In [9]:
df.head(10)

,SEX,AGE,CENSUS2010POP,ESTIMATESBASE2010,2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,2014,POPESTIMATE2015
0,0,0,3944153,3944160,3951330,3963087,3926540,3931141,3949775,3978038
1,0,1,3978070,3978090,3957888,3966551,3977939,3942872,3949776,3968564
2,0,2,4096929,4096939,4090862,3971565,3980095,3992720,3959664,3966583
3,0,3,4119040,4119051,4111920,4102470,3983157,3992734,4007079,3974061
4,0,4,4063170,4063186,4077551,4122294,4112849,3994449,4005716,4020035
5,0,5,4056858,4056872,4064653,4087709,4132242,4123626,4006900,4018158
6,0,6,4066381,4066412,4073013,4074993,4097605,4142916,4135930,4019207
7,0,7,4030579,4030594,4043046,4083225,4084913,4108349,4155326,4148360
8,0,8,4046486,4046497,4025604,4053203,4093177,4095711,4120903,4167887
9,0,9,4148353,4148369,4125415,4035710,4063152,4104072,4108349,4133564

In [10]:
print(df.loc[15, :])
print(df.loc[22, :])

SEX                        0
AGE                       15
CENSUS2010POP        4242820
ESTIMATESBASE2010    4242946
2010                 4231002
POPESTIMATE2011      4158941
POPESTIMATE2012      4144019
POPESTIMATE2013      4149121
2014                 4164796
POPESTIMATE2015      4249742
Name: 15, dtype: int64
SEX                        0
AGE                       22
CENSUS2010POP        4264642
ESTIMATESBASE2010    4264946
2010                 4287005
POPESTIMATE2011      4415300
POPESTIMATE2012      4628459
POPESTIMATE2013      4665965
2014                 4615729
POPESTIMATE2015      4529472
Name: 22, dtype: int64

In [11]:
df['Change'] = [0] * len(df)
df['Percentage_Change'] = [0] * len(df)
df

,SEX,AGE,CENSUS2010POP,ESTIMATESBASE2010,2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,2014,POPESTIMATE2015,Change,Percentage_Change
0,0,0,3944153,3944160,3951330,3963087,3926540,3931141,3949775,3978038,0,0
1,0,1,3978070,3978090,3957888,3966551,3977939,3942872,3949776,3968564,0,0
2,0,2,4096929,4096939,4090862,3971565,3980095,3992720,3959664,3966583,0,0
3,0,3,4119040,4119051,4111920,4102470,3983157,3992734,4007079,3974061,0,0
4,0,4,4063170,4063186,4077551,4122294,4112849,3994449,4005716,4020035,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
301,2,97,53582,53605,54118,57159,59533,61255,62779,69285,0,0
302,2,98,36641,36675,37532,40116,42857,44359,46208,47272,0,0
303,2,99,26193,26214,26074,27030,29320,31112,32517,34064,0,0
304,2,100,44202,44246,45058,47556,50661,53902,58008,61886,0,0
305,2,999,156964212,156969328,157258820,158427085,159581546,160720625,161952064,163189523,0,0

In [12]:
print(df['SEX'].value_counts())

SEX
0    102
1    102
2    102
Name: count, dtype: int64

In [13]:
df

,SEX,AGE,CENSUS2010POP,ESTIMATESBASE2010,2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,2014,POPESTIMATE2015,Change,Percentage_Change
0,0,0,3944153,3944160,3951330,3963087,3926540,3931141,3949775,3978038,0,0
1,0,1,3978070,3978090,3957888,3966551,3977939,3942872,3949776,3968564,0,0
2,0,2,4096929,4096939,4090862,3971565,3980095,3992720,3959664,3966583,0,0
3,0,3,4119040,4119051,4111920,4102470,3983157,3992734,4007079,3974061,0,0
4,0,4,4063170,4063186,4077551,4122294,4112849,3994449,4005716,4020035,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
301,2,97,53582,53605,54118,57159,59533,61255,62779,69285,0,0
302,2,98,36641,36675,37532,40116,42857,44359,46208,47272,0,0
303,2,99,26193,26214,26074,27030,29320,31112,32517,34064,0,0
304,2,100,44202,44246,45058,47556,50661,53902,58008,61886,0,0
305,2,999,156964212,156969328,157258820,158427085,159581546,160720625,161952064,163189523,0,0

In [32]:
boys_infant = df[(df['SEX'] == 0) & (df['AGE'] == 0)]
girl_infant = df[(df['SEX'] == 1) & (df['AGE'] == 0)]

In [33]:
boys_infant = boys_infant.iloc[:, 2:-2].values
print(boys_infant)

[[3944153 3944160 3951330 3963087 3926540 3931141 3949775 3978038]]

In [34]:
girl_infant = girl_infant.iloc[:, 2:-2].values
print(girl_infant)

[[2014276 2014278 2018420 2028427 2007717 2009528 2020326 2035134]]

In [35]:
ratio_df = girl_infant/boys_infant
print(ratio_df)

[[0.51069926 0.51069886 0.51082041 0.51183005 0.51131964 0.51118187
  0.51150407 0.5115924 ]]

In [42]:
df_ratio = pd.DataFrame(ratio_df, columns=df.columns[2:-2])

In [43]:
df_ratio

,CENSUS2010POP,ESTIMATESBASE2010,2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,2014,POPESTIMATE2015
0,0.510699,0.510699,0.51082,0.51183,0.51132,0.511182,0.511504,0.511592