In [43]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv("data/FlightDelays.csv")
df

,CRS_DEP_TIME,CARRIER,DEP_TIME,DEST,DISTANCE,FL_DATE,FL_NUM,ORIGIN,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight Status
0,1455,OH,1455,JFK,184,01/01/2004,5935,BWI,0,4,1,N940CA,ontime
1,1640,DH,1640,JFK,213,01/01/2004,6155,DCA,0,4,1,N405FJ,ontime
2,1245,DH,1245,LGA,229,01/01/2004,7208,IAD,0,4,1,N695BR,ontime
3,1715,DH,1709,LGA,229,01/01/2004,7215,IAD,0,4,1,N662BR,ontime
4,1039,DH,1035,LGA,229,01/01/2004,7792,IAD,0,4,1,N698BR,ontime
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2196,645,RU,644,EWR,199,1/31/2004,2761,DCA,0,6,31,N15555,ontime
2197,1700,RU,1653,EWR,213,1/31/2004,2497,IAD,0,6,31,N16976,ontime
2198,1600,RU,1558,EWR,199,1/31/2004,2361,DCA,0,6,31,N14902,ontime
2199,1359,RU,1403,EWR,199,1/31/2004,2216,DCA,0,6,31,N16961,ontime
2200,1730,RU,1736,EWR,199,1/31/2004,2097,DCA,0,6,31,N13994,ontime

In [34]:
df["DEP_TIME"] = pd.to_datetime(df["DEP_TIME"], format="%H%M")
df

,CRS_DEP_TIME,CARRIER,DEP_TIME,DEST,DISTANCE,FL_DATE,FL_NUM,ORIGIN,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight Status
0,1455,OH,1900-01-01 14:55:00,JFK,184,01/01/2004,5935,BWI,0,4,1,N940CA,ontime
1,1640,DH,1900-01-01 16:40:00,JFK,213,01/01/2004,6155,DCA,0,4,1,N405FJ,ontime
2,1245,DH,1900-01-01 12:45:00,LGA,229,01/01/2004,7208,IAD,0,4,1,N695BR,ontime
3,1715,DH,1900-01-01 17:09:00,LGA,229,01/01/2004,7215,IAD,0,4,1,N662BR,ontime
4,1039,DH,1900-01-01 10:35:00,LGA,229,01/01/2004,7792,IAD,0,4,1,N698BR,ontime
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2196,645,RU,1900-01-01 06:44:00,EWR,199,1/31/2004,2761,DCA,0,6,31,N15555,ontime
2197,1700,RU,1900-01-01 16:53:00,EWR,213,1/31/2004,2497,IAD,0,6,31,N16976,ontime
2198,1600,RU,1900-01-01 15:58:00,EWR,199,1/31/2004,2361,DCA,0,6,31,N14902,ontime
2199,1359,RU,1900-01-01 14:03:00,EWR,199,1/31/2004,2216,DCA,0,6,31,N16961,ontime
2200,1730,RU,1900-01-01 17:36:00,EWR,199,1/31/2004,2097,DCA,0,6,31,N13994,ontime

In [35]:
df["CRS_DEP_TIME"] = pd.to_datetime(df["CRS_DEP_TIME"], format="%H%M")
df

,CRS_DEP_TIME,CARRIER,DEP_TIME,DEST,DISTANCE,FL_DATE,FL_NUM,ORIGIN,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight Status
0,1900-01-01 14:55:00,OH,1900-01-01 14:55:00,JFK,184,01/01/2004,5935,BWI,0,4,1,N940CA,ontime
1,1900-01-01 16:40:00,DH,1900-01-01 16:40:00,JFK,213,01/01/2004,6155,DCA,0,4,1,N405FJ,ontime
2,1900-01-01 12:45:00,DH,1900-01-01 12:45:00,LGA,229,01/01/2004,7208,IAD,0,4,1,N695BR,ontime
3,1900-01-01 17:15:00,DH,1900-01-01 17:09:00,LGA,229,01/01/2004,7215,IAD,0,4,1,N662BR,ontime
4,1900-01-01 10:39:00,DH,1900-01-01 10:35:00,LGA,229,01/01/2004,7792,IAD,0,4,1,N698BR,ontime
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2196,1900-01-01 06:45:00,RU,1900-01-01 06:44:00,EWR,199,1/31/2004,2761,DCA,0,6,31,N15555,ontime
2197,1900-01-01 17:00:00,RU,1900-01-01 16:53:00,EWR,213,1/31/2004,2497,IAD,0,6,31,N16976,ontime
2198,1900-01-01 16:00:00,RU,1900-01-01 15:58:00,EWR,199,1/31/2004,2361,DCA,0,6,31,N14902,ontime
2199,1900-01-01 13:59:00,RU,1900-01-01 14:03:00,EWR,199,1/31/2004,2216,DCA,0,6,31,N16961,ontime
2200,1900-01-01 17:30:00,RU,1900-01-01 17:36:00,EWR,199,1/31/2004,2097,DCA,0,6,31,N13994,ontime

In [40]:
df["Delay"] = df["DEP_TIME"] - df["CRS_DEP_TIME"]
df.head()

,CRS_DEP_TIME,CARRIER,DEP_TIME,DEST,DISTANCE,FL_DATE,FL_NUM,ORIGIN,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight Status,Delay
0,1900-01-01 14:55:00,OH,1900-01-01 14:55:00,JFK,184,01/01/2004,5935,BWI,0,4,1,N940CA,ontime,0 days 00:00:00
1,1900-01-01 16:40:00,DH,1900-01-01 16:40:00,JFK,213,01/01/2004,6155,DCA,0,4,1,N405FJ,ontime,0 days 00:00:00
2,1900-01-01 12:45:00,DH,1900-01-01 12:45:00,LGA,229,01/01/2004,7208,IAD,0,4,1,N695BR,ontime,0 days 00:00:00
3,1900-01-01 17:15:00,DH,1900-01-01 17:09:00,LGA,229,01/01/2004,7215,IAD,0,4,1,N662BR,ontime,-1 days +23:54:00
4,1900-01-01 10:39:00,DH,1900-01-01 10:35:00,LGA,229,01/01/2004,7792,IAD,0,4,1,N698BR,ontime,-1 days +23:56:00

In [41]:
df["Delay"].describe()

count                         2201
mean     0 days 00:05:33.121308496
std      0 days 00:39:38.485715420
min              -1 days +03:40:00
25%              -1 days +23:56:00
50%              -1 days +23:58:00
75%                0 days 00:02:00
max                0 days 04:25:00
Name: Delay, dtype: object

In [44]:
np.where(max(df["Delay"]))

(array([0]),)