In [2]:
import pandas as pd

In [3]:
data = [[1, 'Joe', 70000, 3], [2, 'Henry', 80000, 4], [3, 'Sam', 60000, None], [4, 'Max', 90000, None]]
Employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'managerId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'managerId':'Int64'})

In [4]:
Employee

   id   name  salary  managerId
0   1    Joe   70000          3
1   2  Henry   80000          4
2   3    Sam   60000       <NA>
3   4    Max   90000       <NA>

In [16]:
Match = Employee.merge(Employee, left_on="managerId", right_on="id", how="left")
Match

   id_x name_x  salary_x  managerId_x  id_y name_y  salary_y  managerId_y
0     1    Joe     70000            3     3    Sam     60000         <NA>
1     2  Henry     80000            4     4    Max     90000         <NA>
2     3    Sam     60000         <NA>  <NA>    NaN      <NA>         <NA>
3     4    Max     90000         <NA>  <NA>    NaN      <NA>         <NA>

In [19]:
Out = Match[Match["salary_x"] > Match["salary_y"]]

In [21]:
Result = pd.DataFrame(Out["name_x"].values, columns=["Employee"])
Result

  Employee
0      Joe