# Pandas

In [37]:
import pandas as pd
import numpy as np

In [38]:
pd.__version__

'2.0.3'

In [39]:
df_data = {
    "Fruits" : ["apple", "orange", "banana"],
    "Unit_Price" : [220, 110, 50],
    "Quantity" : [2, 3, 1]
    }
fruit_df = pd.DataFrame(df_data)
print(fruit_df, type(fruit_df))

   Fruits  Unit_Price  Quantity
0   apple         220         2
1  orange         110         3
2  banana          50         1 <class 'pandas.core.frame.DataFrame'>

In [40]:
add_row = pd.DataFrame({"Fruits": ["guava"], "Unit_Price" : [100], "Quantity" : [2]})
fruit_df2 = pd.concat([fruit_df, add_row], axis=0, ignore_index=True)  # axis=0 appends two dataframes row-wise
fruit_df2

   Fruits  Unit_Price  Quantity
0   apple         220         2
1  orange         110         3
2  banana          50         1
3   guava         100         2

In [41]:
add_row = pd.DataFrame({"Fruits": ["guava"], "Unit_Price" : [100], "Quantity" : [2]})
fruit_df3 = pd.concat([fruit_df, add_row], axis=1, ignore_index=True)  # axis=1 appends two dataframes column-wise
print(fruit_df3)

        0    1  2      3      4    5
0   apple  220  2  guava  100.0  2.0
1  orange  110  3    NaN    NaN  NaN
2  banana   50  1    NaN    NaN  NaN

In [42]:
npArr = fruit_df2.to_numpy()
print(npArr)

[['apple' 220 2]
 ['orange' 110 3]
 ['banana' 50 1]
 ['guava' 100 2]]

In [43]:
for i in fruit_df2:
    print(i, end="~")
    print(type(i))

Fruits~<class 'str'>
Unit_Price~<class 'str'>
Quantity~<class 'str'>

## Data Structures in Pandas
1. Series

2. DataFrame

In [44]:
# Series from a dict

series = pd.Series(data={
    "a" : 1,
    "b" : 2,
    "c" : 3
})
print(series)
print(series.index)

a    1
b    2
c    3
dtype: int64
Index(['a', 'b', 'c'], dtype='object')

In [45]:
# Series from a ndarray

narr = np.linspace(0, 5, 5)
series = pd.Series(data=narr)
print(series)

0    0.00
1    1.25
2    2.50
3    3.75
4    5.00
dtype: float64

In [46]:
string = "ramnareshnathan@gmail.com"
print(string.endswith("@gmail.com"))

True

DataFrames

In [47]:
# 20.08.23
print(fruit_df2.T)

                0       1       2      3
Fruits      apple  orange  banana  guava
Unit_Price    220     110      50    100
Quantity        2       3       1      2

In [48]:
print(fruit_df2, end="\n\n")
print(pd.melt(fruit_df2))

   Fruits  Unit_Price  Quantity
0   apple         220         2
1  orange         110         3
2  banana          50         1
3   guava         100         2

      variable   value
0       Fruits   apple
1       Fruits  orange
2       Fruits  banana
3       Fruits   guava
4   Unit_Price     220
5   Unit_Price     110
6   Unit_Price      50
7   Unit_Price     100
8     Quantity       2
9     Quantity       3
10    Quantity       1
11    Quantity       2

In [49]:
fruit_df2 = fruit_df2.drop(columns=["Quantity"])
fruit_df2

   Fruits  Unit_Price
0   apple         220
1  orange         110
2  banana          50
3   guava         100

In [50]:
quantity_col = pd.DataFrame({"Quantity": [2, 3, 1, 2]})
fruit_df2 = fruit_df2.join(quantity_col)
fruit_df2

   Fruits  Unit_Price  Quantity
0   apple         220         2
1  orange         110         3
2  banana          50         1
3   guava         100         2